[submodule "as_accession_links"]
	path = as_accession_links
	url = https://github.com/hudmol/as_accession_links.git
[submodule "as_prominent_resource_ids"]
	path = as_prominent_resource_ids
	url = https://github.com/hudmol/as_prominent_resource_ids.git
[submodule "as_reformulator"]
	path = as_reformulator
	url = https://github.com/dullj/as_reformulator.git
[submodule "tns-aspace-theme"]
	path = tns-aspace-theme
	url = https://github.com/dullj/tns-aspace-theme.git
[submodule "tns_as_public"]
	path = tns_as_public
	url = https://github.com/hudmol/tns_as_public.git
[submodule "digitization_work_order"]
	path = digitization_work_order
	url = https://github.com/hudmol/digitization_work_order.git
[submodule "static_pages"]
	path = static_pages
	url = https://github.com/dullj/static_pages.git
[submodule "tns_as_note_defaults"]
	path = tns_as_note_defaults
	url = https://github.com/hudmol/tns_as_note_defaults.git
[submodule "tns_as_staff"]
	path = tns_as_staff
	url = https://github.com/hudmol/tns_as_staff.git
[submodule "bulk_create_containers"]
	path = bulk_create_containers
	url = https://github.com/bentley-historical-library/bulk_create_containers.git
[submodule "timewalk"]
	path = timewalk
	url = https://github.com/hudmol/timewalk.git
[submodule "as_spreadsheet_bulk_updater"]
	path = as_spreadsheet_bulk_updater
	url = https://github.com/tnslibraries/as_spreadsheet_bulk_updater.git
